<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppPackageCleanup" version="1.0.0" targetFramework="wp80" />
  <package id="BugSense.WP8" version="3.6.8.0" targetFramework="wp80" />
  <package id="Cimbalino.Phone.Toolkit" version="3.2.3" targetFramework="wp80" />
  <package id="Cimbalino.Phone.Toolkit.Background" version="3.2.3" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="LiveSDK" version="5.6" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="wp80" />
  <package id="PayPalWindows8PhoneSDK" version="1.0.0" targetFramework="wp80" />
  <package id="PhoneThemeManager" version="2.0" targetFramework="wp80" />
  <package id="ReviewNotifier" version="1.0.0" targetFramework="wp80" />
  <package id="StorageHelper" version="1.1.3" targetFramework="wp80" />
  <package id="WindowsAzure.Messaging.Managed" version="0.1.7.9" targetFramework="wp80" />
  <package id="WindowsAzure.MobileServices" version="1.2.3" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
  <package id="ZeroProximity.Accordion" version="1.0.0.6" targetFramework="wp80" />
</packages>